<h2>{{title}}</h2>
<div class="question-edit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" [ngClass]="{ 'has-error has-feedback' : hasError('Text') }"
        class="was-validated">
  <div class="form-group">
    <label for="text">Text:</label>
    <br />
    <textarea id="text" formControlName="Text" required placeholder="Enter text of the question here..." class="form-control"></textarea>
    <div *ngIf="hasError('Text')"
         class="form-text">
      This field is required. Please enter correct text.
    </div>

  </div>
  
    <div class="form-group commands">
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid" class="btn btn-primary">
        Save changes
      </button>
      <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" class="btn btn-primary">
        Create question
      </button>
      <button *ngIf="!editMode" type="submit" (click)="onBack()" class="btn btn-dark">
        Cancel
      </button>
    </div>
  </form>
    <answer-list *ngIf="editMode" [question]="question"></answer-list>
</div>
