<h3>Answers</h3>
<div *ngIf="answers.length > 0">
  <div class="table-responsive">
    <table class="table table-hover answers">
      <thead>
        <tr>
          <th>Content</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answer of answers">
          <td>{{answer.Text}}</td>
          <td>{{answer.Value}}</td>
          <td>
            <button (click)="onEdit(answer)" class="btn btn-sm btn-warning">
              <fa-icon slot="start" [icon]="faEdit"></fa-icon>
              &nbsp; Edit
            </button>
            <button (click)="onDelete(answer)" class="btn btn-sm btn-danger">
              <fa-icon slot="start" [icon]="faTrash"></fa-icon>
              &nbsp; Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="answers.length == 0" class="form-text">
  This test doesn't have any answers yet. Use <strong>Add answer</strong> to create one !
</div>

<button (click)="onCreate()" class="btn btn-sm btn-primary">
  <fa-icon slot="start" [icon]="faPlus"></fa-icon>
  &nbsp; Add answer
</button>
<br />
